@model System.Collections.Generic.IEnumerable<Models.Movie>

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
<div class="col-md-4">
    <h1>Rental Movie</h1>
    <p class="lead">Is rental only for register user. Free registration,
    you can add movie or movie copy, and rent a copy</p>
    <p>
        @Html.ActionLink("Free Register", "Register", "User", null, new { @class = "btn btn-primary btn-lg" })
    </p>
    <p>
        @Html.ActionLink("Add movie", "Create", "Movie", null, new { @class = "btn btn-primary btn-lg" })
   </p>
</div>

<div class="col-md-8" id="moviesConteiner">
    @Html.Partial("_MoviesDetailsPartial", Model)
</div>
</div>