<h1>Only For Login User</h1>
<p class="lead">
    To view this content, please Login or register.
</p>
<p>
    @Html.ActionLink("Free Register", "Register", "User", null, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Login", "Login", "User", null, new { @class = "btn btn-primary btn-lg" })
</p>
